@tailwind base;
@tailwind components;
@tailwind utilities;

input#query:focus + span {
  background-color: black;
  transition: background-color 0.2s ease-in-out;
}

input#query:focus {
  outline: 2px solid black;
  transform: scale(1.1);
  animation: focus 0.2s linear forwards;
  transition: transform 0.2 ease-in-out;
}

input#query {
  outline: none;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: white;
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.content-1,
.content-2,
.content-3 {
  display: none;
}

input#jiji[type="radio"]:checked ~ section > .content-1,
input#jumia[type="radio"]:checked ~ section > .content-2,
input#konga[type="radio"]:checked ~ section > .content-3 {
  display: block;
}

@keyframes focus {
  to {
    transform: scale(1);
  }
}
